@import 'variables';
@mixin button($color, $text) {
    color: map-get($texts, shade-A);
    font-family: $fontFamily;
    padding: 5px 15px;
    border-radius: 0px;
    border: 2px solid #efefef;
    border-top-color: #ffaa3a;
    border-bottom-color: #965a0d;
    border-left-color: #c0710b;
    border-right-color: #c0710b;
    box-shadow: 0 0 20px 0px rgba(#0b0806, .2), 0 5px 10px 0px rgba(#0b0806, .2), 0 0 0px 1px #0b0806;
    position: relative;
    background: #dd810a;
}

@mixin wrapper($background: #362d24) {
    border: 2px solid #efefef;
    border-top-color: #bb9d77;
    border-bottom-color: #68513c;
    border-left-color: #7e6147;
    border-right-color: #7e6147;
    box-shadow: 0 0 20px 0px rgba(#0b0806, .2), 0 5px 10px 0px rgba(#0b0806, .2), 0 0 0px 1px #0b0806;
    position: relative;
    padding: 1px;
    background: $background;
}

@mixin insetWrapper() {
    border: 2px solid #efefef;
    border-top-color: #68513c;
    border-bottom-color: #bb9d77;
    border-left-color: #7e6147;
    border-right-color: #7e6147;
    box-shadow: inset 0 0 20px 0px rgba(#0b0806, .2), inset 0 5px 10px 0px rgba(#0b0806, .2), 0 0 0px 1px #0b0806;
    position: relative;
    padding: 1px;
    background: #816343;
}

@mixin tooltip() {
    width: 300px;
    border-radius: 5px;
    position: fixed;
    background: white;
    color: black;
}