$backgroundColor: #fff;
$smooth: #808796;
$primary: #1b1e25;
$transition: all 200ms cubic-bezier(.17, .67, .3, .97);
$fontFamily: 'Poppins',
sans-serif;
$textShadow: 0 1px 0 #bb9d77,
1px 0 0 #bb9d77,
0 -1px 0 #bb9d77,
-1px 0 0 #bb9d77;
$whiteTextShadow: 0 1px 0 white,
1px 0 0 white,
0 -1px 0 white,
-1px 0 0 white;
$backgrounds: (shade-A: #fff, shade-B: #eee, shade-C: #ddd, shade-D: #ccc);
$texts: (shade-A: #111, shade-B: #222, shade-C: #333, shade-D: #444);
@mixin hoverEffect() {
    cursor: pointer;
    transition: $transition;
    &:hover {
        filter: brightness(150%);
    }
    &:active {
        filter: brightness(50%);
    }
}