<div *ngIf="team">
    <div *ngFor="let player of team | keyvalue" [class.reverse]="reverse">
        <div class="simulation-player"><strong>{{player.key}}</strong>
            <pk-simulation-player [player]="player.value" [tooltip]="player.value" [class.reverse]="reverse"></pk-simulation-player>
        </div>
        <pk-progress class="progress" [current]="player.value.player.moral.current" [max]="player.value.player.moral.max"></pk-progress>
    </div>
</div>
<!--
<div class="simulation-player" [class.reverse]="reverse">
    <strong>Top</strong>
    <pk-simulation-player [player]="team?.top" [tooltip]="team?.top" [class.reverse]="reverse"></pk-simulation-player>
</div>

<div class="simulation-player" [class.reverse]="reverse">
    <strong>Mid</strong>
    <pk-simulation-player [player]="team?.mid" [tooltip]="team?.mid" [class.reverse]="reverse"></pk-simulation-player>
</div>

<div class="simulation-player" [class.reverse]="reverse">
    <strong>Jungle</strong>
    <pk-simulation-player [player]="team?.jungle" [tooltip]="team?.jungle" [class.reverse]="reverse"></pk-simulation-player>
</div>

<div class="simulation-player" [class.reverse]="reverse">
    <strong>Bot</strong>
    <pk-simulation-player [player]="team?.bot" [tooltip]="team?.bot" [class.reverse]="reverse"></pk-simulation-player>
</div>

<div class="simulation-player" [class.reverse]="reverse">
    <strong>Support</strong>
    <pk-simulation-player [player]="team?.support" [tooltip]="team?.support" [class.reverse]="reverse"></pk-simulation-player>
</div>
-->