:host {
    .simulation-player {
        strong {
            width: 100px;
        }
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        &.reverse {
            text-align: right;
            flex-direction: row-reverse;
        }
    }
    .progress {
        height: 8px;
    }
}